@{
    ViewData["Title"] = "Calculate days since birth";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container text-center">
    <form method="post" action="/Home/DaySinceBirth">
        <input type="date" class="date-select" name="BirthDate" required />
        <input type="submit" class="btn btn-primary custom-btn" value="Calculate" />
    </form>
</div>